<div class="box">
  <h1>{{name}}</h1>
  <div class="wrapper">
    <ul class="data-text">
      <li class="capital">Capital: {{capital}}</li>
      <li class="population">population: {{population}}</li>
      <li class="languages">Languages:
        <ul class="languages-list">
          {{#each languages}}
          <li class="languages-list-item">{{this}}</li>
          {{/each}}
        </ul>
      </li>
    </ul>
    <img class="img-flag" src={{flag}} alt="country flag">
  </div>
</div>